@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>ASP.NET MVC5 <a href="https://datatables.net/">Datatables</a> integration. All columns can be sorted and you can search. Uses serverside proccessing.</p>
