@{
    ViewBag.Title = "Michael Kavidas Information Builders Assignment";
}
<div class="row">
    <div class="panel-heading">
        <div class="col-md-8">
            <h3>
                <i class="fa fa-table"></i>
                <span>Michael Kavidas Information Builders Assignment</span>
            </h3>
        </div>
    </div>
</div>
<div class="row">
    <section class="col-md-12 col-md-push-0">
        @Html.Partial("_ViewListPartial")
    </section>
</div>
